/* Master Styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.col-1-5 {
  width: 20%;
}
.col-1-4 {
  width: 25%;
}
.grid {
  margin: 0;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #222 ;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #000;
}
.grid-pad {
  padding: 10px 0;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  color: #ccc;
  background-color: #444;
}
body, input[text], button {
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
a div {
  color: #eee;
  background-color: #222;
}
button {
  font-family: Arial;
  background-color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #333;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
/* nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
} */

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}